*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
header{
  position: absolute;
    border-radius: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;     
    z-index: 1000; 
    /* border: 2px solid black; */
    background: #FFFFFF;
    height:  auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.left-side{
    display: flex;
    gap: 2em;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 1em;
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: #272627;
    font-family: 'BR Segma', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 60px;
}
.right-side{
    align-items: center;
    display: flex;
    gap: 1em;
}
.signin{
    text-decoration: none;
    font-family: 'BR Segma', sans-serif;;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
}
.sales{
    background: none;
    border: none;
}
.sales a{
  border: thin solid #611F69;
  padding: 15px 20px;
  border-radius: 10px;
  background: white;
  color: #611F69;
  text-decoration: none;
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.sales:hover{
    border: 1px thin #611F69;
}
.start{
    border: none;
    background: none;
}
.start a{
    border-radius: 10px;
    color: #FFFFFF;
    background: #611F69;
    border: none;
    padding: 15px 15px;
    text-decoration: none;
    font-family: 'BR Segma', sans-serif;;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    transition: all 1s ease;
}
.start a:hover{
    background: #4A154B;
}
.featured2{
  padding: 20px;
  background: #F4EDE4;
  gap: 1em;
  display: flex;
  flex-direction: column;
  height: 550px;
}
.featured{
  padding: 20px;
  background: #F4EDE4;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.column{
  padding: 20px;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.register{
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.register > li{
  position: relative;
}
.menu > li {
  position: relative;
  align-items: center;
}
.list > li {
  position: relative;
}
.register > li > a{
  display: block;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
}
.menu > li > a {
  display: block;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
}
.list > li > a {
  display: block;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
}
.register > li > a:hover{
  background-color: none;
}
.menu > li > a:hover {
  background-color: none;
}
.list > li > a:hover {
  background-color: none;
}
.dropdown-content {
  top: calc(100% + 8px); 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 1000px; 
  height: 1000px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.register-content{
  top: calc(100% + 8px); 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 400px; 
  height: 550px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.list-content{
  top: calc(100% + 8px); 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 700px; 
  height: 700px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.dropdown input {
  display: none;
}
.dropdown:hover .dropdown-content {
  display: grid;
}
.dropdown:hover .register-content {
  display: grid;
}
.dropdown:hover .list-content{
  display: grid;
}

/* Dropdown links */

.dropdown-content a {
  color: #333;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}
.register-content a{
  color: #333;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}
.list-content a{
  color: #333;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #007BFF;
}
.register-content a:hover {
  color: #007BFF;
}
.list-content a:hover{
  color: #007BFF;
}
.register-content h3{
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
}
.dropdown-content h3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
}
.list-content h3{
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
}
h5{
  font-family: 'BR Segma', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
h4{
  font-family: 'BR Segma', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.picture{
  width: 200px;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}
@media(max-width: 1004px){
  .sales{
    display: none;
  }
  .start{
    display: none;
  }

}

@media (max-width: 768px) {

  .nav-links {
    display: none;
  }
  .sales{
    display: none;
  }
  .start{
    display: none;
  }
}
@media ( max-width:1075px){
  .signin{
    display: none;
  }
  .dropdown:hover .list-content {
  display: grid;
   display: flex;
    flex-direction: column ;
    width: 500px;
    height: auto;
}
  .dropdown:hover .dropdown-content {
  display: grid;
   display: flex;
    flex-direction: column ;
    width: 500px;
    height: auto;
}
.dropdown:hover .register-content {
  display: grid;
   display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}
.list-content{
  display: none;
}
  .register-content{
   display: none;
  }
   .dropdown-content{
     display: none;
   }
  
  .nav-links{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .sales{
    display: none;
  }
  .start{
    display: none;
  }
  }
  
@media ( max-width:1072px){
  .signin{
    display: none;
  }
  .dropdown:hover .list-content {
  display: grid;
   display: flex;
    flex-direction: column ;
    width: 500px;
    height: auto;
}
  .dropdown:hover .dropdown-content {
  display: grid;
   display: flex;
    flex-direction: column ;
    width: 500px;
    height: auto;
}
.dropdown:hover .register-content {
  display: grid;
   display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}
.list-content{
  display: none;
}
  .register-content{
   display: none;
  }
   .dropdown-content{
     display: none;
   }
  
  .nav-links{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .sales{
    display: none;
  }
  .start{
    display: none;
  }
  }
  

@media ( max-width:768px){
  .nav-links{
    display: none;
  }
  .sales{
    display: none;
  }
  .start{
    display: none;
  }
}
.hero-section{
  height: 100%;
  /* border: 2px solid black; */
  margin-top: 100px;
  background: #FFFFFF;

}
.hero-text{
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: normal;
}
h3{
  font-family:  'BR Segma', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.subscription{
  margin-top: 20px;
  gap: 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.get{
  border: none;
  background: none;
}
.find{
  border: none;
  background: none;
}
.get a{
  padding: 15px 20px;
  border-radius: 10px;
  background: #611F69;
  color: white;
  text-decoration: none;
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.get a:hover{
  background: #4A154B;
}
.find a{
  border: thin solid #611F69;
  padding: 15px 20px;
  border-radius: 10px;
  background: white;
  color: #611F69;
  text-decoration: none;
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.images{
  display: flex;
  align-items: center;
  margin-top: 70px;
  flex-direction: row;
  gap: 3em;
}
.bolt{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.video{ 
  top: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.ai{
  border-radius: 10px;
  width: 800px;
  height: auto;
}

.your{
  font-weight: 600;
  margin-top: 60px;
}
.collab{
  margin-top: 30px;
  display: flex;
  gap: 2em;
}
.page1{ 
  gap: 9em;
  justify-content: space-around;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.page2{
   display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.page1-text{
  display: flex;
  flex-direction: column;
}
.page2-text{
  margin-right: 650px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.comms{
  font-family: 'BR Segma', sans-serif;
  font-size: 34px;
  line-height: 28px;
  margin-top: 20px;
  font-weight: 600;
}
.move{
  font-family: 'BR Segma', sans-serif;
  font-size: 34px;
  line-height: 45px;
  margin-top: 20px;
  font-weight: 600;
}
.slack{
  margin-top: 30px;
}
.number{
  display: flex;
  align-items: center;
  font-family: 'BR Segma', sans-serif;
  font-weight: bold;
}
.video1{
  border-radius: 10px;
  width: 500px;
  height: auto;
}
.part{
  gap: 1em;
  display: flex;
  flex-direction: row;
}
.card{
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-image: linear-gradient(180deg, #DAEEFF, #FAF4FF, #FEFBFF);
  margin-top: 50px;
  width: 1228px;
  height: auto;
}
.agent{
  margin-left: 30px;
  margin-top: 50px;
}
.section2{
  display: flex;
  flex-direction: column;
}
.card-text{
  margin-left: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.card-text2{
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.learn-more{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 30px;
  margin-top: 20px;
}
.video2{
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 900px;
  height: auto;
}
.end-text{
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  margin-top: 100px;
}
.end-text2{
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  margin-left: 50px;
}
/* main layout */
.customer-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px;
  background: #fff;
  font-family: sans-serif;
}
.text-column {
  max-width: 400px;
}
.videos-column{
  gap: 1em;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.card-text{
  font-family: 'BR Segma'sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: white;
}
.video-card {
  position: relative;
  width: 310px;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-card:hover {
  transform: translateY(-4px);
}

.video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  transition: background 0.3s ease;
}

.overlay img {
  width: 90px;
  margin-bottom: 8px;
}

.overlay p,
.overlay button {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.video-card:hover .overlay p,
.video-card:hover .overlay button {
  opacity: 1;
  transform: translateY(0);
}

.overlay button {
  background: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  margin-top: 6px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .customer-stories {
    display: none;
  }
  .page1{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .page2{
   display: none;
  }
  .card{
    width: 700px;
    height: 300px;
  }
  .collab{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video2{
    display: none;
  }
  .page2-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-text{
    color: #000;
  }
  .video1{
    display: none;
  }
}
@media (max-width: 838px) {
  .card-text{
    color: #000;
  }
  .customer-stories {
    display: none;
  }
  .page1{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .page2{
   display: none;
  }
  .card{
    width: 700px;
    height: 300px;
  }
  .collab{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video2{
    display: none;
  }
  .page2-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .video1{
    display: none;
  }
}
@media (max-width: 892px) {
  .card-text{
    color: #000;
  }
  .customer-stories {
    display: none;
  }
  .page1{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .page2{
   display: none;
  }
  .card{
    width: 700px;
    height: 300px;
  }
  .collab{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video2{
    display: none;
  }
  .page2-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .video1{
    display: none;
  }
}
@media (max-width: 468px) {
  .customer-stories {
    display: none;
  }
  .subscription{
    align-items: center;
   display: flex;
   flex-direction: column;
   gap: 2em;
  }
  .video{
    display: none;
  }
  h1{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 38px;
  }
  h3{
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .collab{
    display: flex;
    flex-direction: column;
  }
  .video1{
    display: none;
  }
  h4{
    font-size: 18px;
    font-weight: 400;
  }
  h5{
    font-size: 18px;
  }
  .page2{
   display: none;
  }
  .section2{
    display: none;
  }
  .end-text2{
    flex-direction: column;
    font-weight: 700;
    font-size: 28px;
  }
  .end-text{
    margin-left: 30px;
    flex-direction: column;
    font-weight: 700;
    font-size: 28px;
  }
  .card-text2{
    margin-left: 10px;
    font-size: 18px;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .your{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
  }
  .get{
    width: 200px;
    height: auto;
  }
  .find{
    width: 700px;
    height: auto;

  }

  .bolt{
    display: none;
  }
}
.section3{
  padding: 100px;
  height: auto;
  margin-top: 200px;
  background: #481A54;
}
.growing{
  margin-top: 100px;
  margin-left: 50px;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'BR Segma', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
}
.estimations{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.estimation{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.percent{
  margin-top: 50px;
  font-family: 'BR Segma', sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 104px;
}
.percent-text{
  font-family: 'BR Segma', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
@media(min-width:468px){
  .card{
    display: none;
  }
}
